p {
	align-self: center;
	margin-right: auto;
}

.plate {
	padding: 4rem 8rem 3rem 8rem;
	background-color: rgba(var(--smoothly-color-contrast), 0.3);
	border-radius: 3px;
	z-index: 10;
	text-align: center;
	margin: 0.7rem;
}

@media (max-width: 600px) {
	.plate {
		min-width: 300px;
		margin: 0.7rem;
	}

}
