:host {
	display: grid;
	border: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: black;
}

p {
	align-self: center;
	margin-right: auto;
}

smoothly-form {
	padding: 4rem 8rem 3rem 8rem;
	margin: 0.7rem;
}

@media (max-width: 600px) {
	smoothly-form {
		min-width: 300px;
		margin: 0.7rem;
	}
}
