@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Iceland");
:root {
--smoothly-font-family: "Open Sans", Arial, sans-serif;
/* --mobile-breakpoint: "600px";
--laptop-breakpoint: "1200"; */
	background-color: rgb(var(--smoothly-default-tint));
}
h1 {
	font-size: 1.4em;
	font-weight: 400;
}
smoothly-app {
	--margin: 0;
}
smoothly-app > * > main {
	max-width: 80em;
	margin: 0 auto;
	background-color: rgb(var(--smoothly-default-tint));
	min-height: 100vh;
}
