:host {
	display: grid;
	border: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: black;
}

smoothly-form {
	padding: 4rem 8rem 3rem 8rem;
	margin: 0.7rem;
}

smoothly-form + smoothly-form {
	margin-top: 2rem;
}

.email {
	flex-basis: 100%;
}
p {
	align-self: center;
	margin-right: auto;
}
