:host {
	display: grid;
}

:host > smoothly-form {
	margin: 0.7rem;
}

:host > smoothly-form smoothly-input.email {
	flex-basis: 100%;
}
:host > smoothly-form p {
	align-self: center;
	margin-right: auto;
}
