:host {
	display: grid;
	border: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: black;
	margin: 1rem;
	background-color: rgba(var(--smoothly-default-tint));
}

smoothly-form {
	margin: 0.7rem;
}

smoothly-form + smoothly-form {
	margin-top: 2rem;
}

.email {
	flex-basis: 100%;
}
p {
	align-self: center;
	margin-right: auto;
}
