:host {
	display: contents;
}
:host > smoothly-table-expandable-cell {
	width: 1px;
}
:host > smoothly-table-expandable-cell smoothly-button {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
:host > smoothly-table-expandable-cell > div {
	justify-content: center;
}
:host > smoothly-table-expandable-cell > div > smoothly-icon {
	display: none;
}
