:host {
	display: contents;
}
:host smoothly-table-expandable-cell {
	width: 1px;
}
:host smoothly-button {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
:host::slotted(smoothly-table-expandable-cell > aside) {
	justify-content: center;
}
:host::slotted(smoothly-table-expandable-cell > aside > smoothly-icon) {
	display: none;
}
