:host {
	display: flex;
	flex-direction: column;
}
:host > smoothly-form div.buttons {
	display: flex;
	gap: 1rem;
	margin-top: 1rem;
	margin-right: 1rem;
	& > smoothly-button-confirm {
		display: flex;
		& smoothly-icon {
			padding: 0.3rem;
			width: 2.5rem;
			height: 2.5rem;
			box-sizing: border-box;
		}
		&:hover > smoothly-button:last-child > button > smoothly-icon:first-child {
			display: none;
		}
		&:not(:hover) > smoothly-button:last-child > button > smoothly-icon:last-child {
			display: none;
		}
	}
}
