:host > form {
	display: contents;
}

:host {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.inputs {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.button {
	border: none;
	padding: 0;
	margin: 0;
}

smoothly-picker::part(search) {
	display: none;
}
:host .button {
	opacity: 50%;
}

:host[changed] .button {
	opacity: 100%;
}
