.user > smoothly-table-cell {
	vertical-align: middle;
}

.buttons-cell {
	width: fit-content;
}

.inputs {
	height: 0px;
	width: 0px;
	/* display: flex; */
	justify-content: right;
	margin-right: 1rem;
	gap: 1rem;
}

.input {
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
}
:host {
	width: 100%;
}
