:host {
	display: flex;
	flex-direction: column;
}
:host > smoothly-form div.buttons {
	display: flex;
	gap: 1rem;
	margin-top: 1rem;
	margin-right: 1rem;
}
:host > smoothly-from smoothly-button {
	padding: 0.2rem;
}
:host > smoothly-form smoothly-button smoothly-icon {
	padding: 0.3rem;
	width: 2.5rem;
	height: 2.5rem;
	box-sizing: border-box;
}
