:host {
	width: fit-content;
	display: grid;
	border: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: black;
	margin: 1rem;
	background-color: rgba(var(--smoothly-default-tint));
}

p {
	align-self: center;
	margin-right: auto;
}

smoothly-display {
	margin: 0.7rem;
	max-width: 20rem;
}

smoothly-form {
	margin: 0.7rem;
	margin: 0.7rem;
}

smoothly-form > smoothly-button {
	transition: 0.6s;
	margin: 0rem;
	min-width: 0rem;
	margin: 1em 0em;
}
