:host {
	border: rgb(var(--smoothly-color-contrast)) solid 1px;
	display: flex;
}
:host > smoothly-picker {
	width: 100%;
}
:host > smoothly-picker > smoothly-picker-menu {
	border: rgb(var(--smoothly-color-contrast)) solid 1px;
}
:host > smoothly-picker > smoothly-picker-menu > div.controls {
	border: rgb(var(--smoothly-color-contrast)) solid 1px;
}
