:host {
	--background-color: var(--smoothly-color);
	border: rgb(var(--smoothly-color-contrast)) solid 1px;
	display: flex;
}
:host smoothly-picker {
	width: 100%;
}
:host::slotted(smoothly-picker > smoothly-picker-menu)  {
	border: rgb(var(--smoothly-color-contrast)) solid 1px;
}
:host::slotted(smoothly-picker > smoothly-picker-menu > .controls)  {
	border: rgb(var(--smoothly-color-contrast)) solid 1px;
}
