:host > div.mask {
	inset:0;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(var(--smoothly-default-tint), 0.7);
	z-index: 10;
	
}
:host > div.hidden {
	display:none;
}
