:host {
	height: fit-content;
}
:host.edit {
	gap: 0.5rem;
	display: flex;
	justify-content: flex-end;
}
:host .button {
	padding: 0.2rem;
}
.button smoothly-icon {
	padding: 0.3rem;
	width: 2.5rem;
	height: 2.5rem;
	box-sizing: border-box;
}
