smoothly-icon {
	margin-left: auto;
	margin-right: auto;
}
:host {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;

}
smoothly-button {
	flex: auto;
	height: 100%;
}
