:host {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	max-width: 6rem;
	width: 100%;
	height: 2.5rem;
}
:host > smoothly-button smoothly-button {
	flex: auto;
	height: 100%;
}
:host > smoothly-button smoothly-icon {
	margin-left: auto;
	margin-right: auto;
}
